<!-- FIRST MODAL ADD TEACHER -->
<div class="modal">
  <header class="modal-header">
    <h1 class="modal-header-add-teacher">Add Teacher</h1>
    <h1 class="modal-close-window">+</h1>
  </header>
  <main class="modal-main">
    <div class="modal-form">
      <label class="modal-form-label">Name</label>
      <input type="text" placeholder="Enter name" />
    </div>
    <div class="modal-form">
      <label class="modal-form-label">Speciality</label>
      <select>
        <option>Mathematics</option>
      </select>
    </div>
    <div class="modal-extra-info">
      <div class="modal-form">
        <label class="modal-form-label">Country</label>
        <select>
          <option>Ukraine</option>
        </select>
      </div>
      <div class="modal-form">
        <label class="modal-form-label">City</label>
        <input type="text" />
      </div>
      <div class="modal-form">
        <label class="modal-form-label">Email</label>
        <input type="text" />
      </div>
      <div class="modal-form">
        <label class="modal-form-label">Phone</label>
        <input type="text" />
      </div>
      <div class="modal-form">
        <label class="modal-form-label">Date of birth</label>
        <input type="date" />
      </div>
    </div>
    <!-- choose gender -->
    <div class="modal-form gender">
      <label class="modal-form-label sex">Sex</label>

      <div>
        <label>Male</label>
        <input type="checkbox" class="modal-checkbox" />
      </div>

      <div>
        <label>Female</label>
        <input type="checkbox" class="modal-checkbox" />
      </div>
    </div>

    <!--Background color -->
    <div class="modal-form gender">
      <label class="modal-form-label extraSpace">Background color</label>

      <input type="color" />
    </div>

    <!--Notes (optional) -->
    <div class="modal-form">
      <label class="modal-form-label">Notes (optional)</label>
      <textarea rows="8"></textarea>
    </div>

    <button class="search-button modal-button">Add</button>
  </main>
</div>
