<!-- MODAL TEACHER INFO -->
<div class="modal modal-info">
  <header class="modal-header">
    <h1 class="modal-header-add-teacher">Teacher Info</h1>
    <h1 class="modal-close-window">+</h1>
  </header>
  <main class="modal-teacher-info">
    <div class="modal-teacher-info-top">
      <img src="images/arnold.webp" alt="arnold" class="modal-teacher-photo" />

      <div class="modals-top-details">
        <div class="modal-name">
          <h1 class="modal-teacherName">Ihor Tkachuk</h1>
          <img
            class="modal-name-img"
            src="images/star-outline.png"
            alt="star-outline"
          />
        </div>
        <h2 class="modal-specialization">Chemistry</h2>
        <h3 class="modal-reachWithTeacher">Kyiv, Ukraine</h3>
        <h3 class="modal-reachWithTeacher email">Ihor_tkachuk@domain.com</h3>
        <h3 class="modal-reachWithTeacher">+380967894252</h3>
      </div>
    </div>

    <p class="modal-desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere esse
      architecto explicabo aliquam consectetur eaque quos voluptatem, quo
      tenetur repellendus temporibus a tempore voluptate assumenda molestias
      minus iste autem et quas eligendi numquam. Quae voluptates laboriosam a
      non, repellendus autem?
    </p>

    <div class="modal-button-toggle">
      <button class="btn-toggle">toggle map</button>
    </div>
  </main>
</div>
